* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #4158D0, #C850C0, #FFCC70);
}

.filters {
    margin: 20px 0 40px 0;
    width: 632px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.schedules {
    width: 632px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 0 0;
}

.schedule {
    position: absolute;
    display: flex;
    font-size: 0.6em;
}

.column {
    width: 79px;
}

.row {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free {
    background-color: rgba(0, 0, 0, 0.65);
}

.hidden {
    display: none;
}