* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    background: url('./background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    height: 100vh;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right top, #4158d0, #c850c0, #ffcc70); */
    background-color: #000000ad;
    overflow: hidden;
}

.filters {
    margin: 20px 0 40px 0;
    width: 632px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1.6em;
    color: #fff;
}

input[type='checkbox'] {
    accent-color: red;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.schedules {
    width: 1200px;
    height: 750px;
    background-color: #ffffffdb;
    /* border-radius: 15px 15px 0 0; */
    border-radius: 15px;
}

.schedule {
    position: absolute;
    display: flex;
    font-size: 1em;
}

.column {
    width: 150px;
}

.row {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free {
    background-color: #000000a6;
}

.hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    .filters {
        gap: 15px;
        font-size: 0.6em;
    }

    .person {
        gap: 2px;
    }

    .schedules {
        width: 280px;
        height: 500px;
        border-radius: 10px 10px 0 0;
    }

    .schedule {
        font-size: 0.3em;
    }

    .column {
        width: 35px;
    }

    .row {
        height: 20px;
    }
}