* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background: url('https://firebasestorage.googleapis.com/v0/b/padre-domingo.appspot.com/o/background.webp?alt=media&token=7a3194b6-3dfd-4884-bb45-2fb511af0fd0&_gl=1*1iiefs7*_ga*Mzg5Mjk2OTcuMTY5Njg4OTA0Mg..*_ga_CW55HF8NVT*MTY5Njg4OTA0MS4xLjEuMTY5Njg4OTQxNi4xOS4wLjA.');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* SCROLLBAR */

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    display: none;
}

/* HEADER */

header {
    width: 100%;
    height: 15vh;
    background-color: #000000ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header .title {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

header .title img {
    width: 80px;
    height: 80px;
}

header .title h1 {
    font-size: 3rem;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav .link {
    position: relative;
    font-size: 1.4em;
    display: flex;
    text-decoration: none;
    transition: .5s ease-in-out;
}

header nav .link::after,
header nav .active-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: -100%;
    bottom: 0;
}

header nav .link:hover::after,
header nav .active-link::after {
    left: 0;
    background: #fff;
    transition: .2s ease-in-out;
}

header .hamburger-menu {
    display: none;
    font-size: 2rem;
}

/* SECTIONS */

section {
    width: 100%;
    min-height: 85vh;
    background-color: #000000ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SUBTITLES */

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 50px 0;
}

/* LOGIN */

.login {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    min-height: 100vh;
}

.login form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
}

.login form input {
    color: #000;
    background-color: none;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
    text-align: center;
    font-size: 20px;
}


/* INICIO */

.inicio {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio h3 {
    font-size: 1.8rem;
}

.inicio h4 {
    font-size: .8rem;
    font-style: italic;
}

.inicio .members {
    margin: 50px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.inicio .members .member:nth-child(2n) {
    align-self: flex-end;
}

.inicio .members .member:nth-child(2n) .member-title {
    text-align: end;
}

.inicio .members .member:nth-child(2n) .member-description {
    flex-direction: row-reverse;
    text-align: end;
}

.inicio .members .member {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inicio .members .member .member-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.inicio .members .member .member-title h3 img {
    width: 20px;
    height: 20px;
}

.inicio .members .member:nth-child(2n + 1) .member-title h3 img {
    margin-right: 10px;
}

.inicio .members .member:nth-child(2n + 2) .member-title h3 img {
    margin-left: 10px;
}

.inicio .members .member .member-description {
    display: flex;
    gap: 20px;
    align-items: center;
}

.inicio .members .member .member-description ul {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inicio .members .member .member-description li {
    list-style-type: none;
}

.inicio .members .member .member-description img {
    max-width: 400px;
    height: auto;
    max-height: 400px;
    border-radius: 20px;
    border: 3px solid #000;
}

/* LINEAMENTOS */

.lineamentos {
    padding: 0 300px;
    font-size: 1.5rem;
}

.lineamentos ol {
    text-align: justify;
    line-height: 2rem;
    margin-bottom: 50px;
}

.lineamentos ol li:not(:last-child) {
    margin-bottom: 15px;
}

.lineamentos h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.lineamentos .pseudo-footer {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 100px 0 50px 0
}

/* HORARIO */

.horario .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 50px;
}

.horario .filters .person {
    display: flex;
    gap: 7px;
}

.horario .filters input[type='checkbox'] {
    accent-color: #ff0000;
}

.schedules {
    width: 1200px;
    height: 750px;
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 50px 0;
}

.schedule {
    position: absolute;
    display: flex;
    font-size: 1em;
}

.schedule.invisible {
    display: none;
}

.column {
    width: 150px;
}

.row {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.free {
    background-color: #000000a6;
}

.hidden {
    display: none;
}

/* PPT */

.ppt {
    gap: 100px;
}

.ppt .velada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    gap: 10px;
}

.ppt .velada h3 {
    font-size: 2rem;
    font-weight: 900;
}

.ppt .velada h4 {
    font-size: .8rem;
    font-weight: 300;
}

.ppt .velada ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.ppt .velada ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ppt .velada ul li p {
    margin-bottom: 10px;
}

.ppt .velada ul li img {
    width: clamp(200px, 100%, 500px);
    border-radius: 10px;
}

.ppt .velada ul li img:hover {
    cursor: pointer;
    transform: scale(0.98);
}

/* JUEGOS */

.juegos img {
    border-radius: 30px;
    border: 5px solid #000;
    width: 650px;
    height: 650px;
}

/* RESPONSIVE */

@media screen and (max-width: 1300px) {
    header .hamburger-menu {
        display: block;
    }

    .links {
        display: flex;
        width: 100%;
        position: absolute;
        top: 15vh;
        left: 0;
        background-color: #000000ad;
        background-color: #000000f0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        transition: .2s ease-in-out;
        z-index: 100;
    }

    .links.invisible {
        top: -100%;
    }

    .inicio .members {
        gap: 40px;
    }

    .member-title h3 {
        font-size: 25px;
    }

    .member-description {
        flex-direction: column;
    }

    .inicio .members .member .member-description img  {
        width: 90%;
    }

    .inicio .members .member:nth-child(2n) .member-description {
        flex-direction: column;
    }

    .inicio .members .member .member-description li {
        font-size: 15px;
    }

    .inicio .members .member:nth-child(2n+1) .member-description {
        align-items: flex-start;
    }

    .inicio .members .member:nth-child(2n) .member-description {
        align-items: flex-end;
        text-align: end;
    }
}

@media screen and (max-width: 1200px) {
    .horario .filters {
        font-size: .8rem;
        gap: 20px;
    }

    .schedules {
        width: 800px;
        height: 500px;
        border-radius: 10px 10px 0 0;
    }

    .schedule {
        font-size: 0.5rem;
    }

    .column {
        width: 100px;
    }

    .row {
        height: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .ppt ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    
    .ppt ul li img {
        width: 250px;
    }

    .juegos img {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding: 0 20px;
    }

    header .title img {
        width: 45px;
        height: 45px;
    }

    header .title h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .inicio {
        font-size: 1rem;
    }

    .inicio img {
        width: 300px;
        height: 225px;
    }

    .lineamentos {
        padding: 0 50px;
    }
    
    .lineamentos ol {
        font-size: 1rem;
    }

    .lineamentos h3 {
        font-size: 1.3rem;
    }

    .lineamentos .pseudo-footer {
        text-align: center;
    }

    .horario .filters {
        font-size: .8rem;
        gap: 20px;
    }

    .schedules {
        width: 320px;
        height: 500px;
        border-radius: 10px 10px 0 0;
    }

    .schedule {
        font-size: 0.3em;
    }

    .column {
        width: 40px;
    }

    .row {
        height: 20px;
    }

    .juegos img {
        min-width: 300px;
        width: 70vw;
        min-height: 300px;
        height: 70vw;
    }
}