* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    max-width: 100vw;
    box-sizing: border-box;
}

body {
    background: url('https://firebasestorage.googleapis.com/v0/b/padre-domingo.appspot.com/o/background.webp?alt=media&token=7a3194b6-3dfd-4884-bb45-2fb511af0fd0&_gl=1*1iiefs7*_ga*Mzg5Mjk2OTcuMTY5Njg4OTA0Mg..*_ga_CW55HF8NVT*MTY5Njg4OTA0MS4xLjEuMTY5Njg4OTQxNi4xOS4wLjA.');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* HEADER */

header {
    width: 100%;
    height: 15vh;
    background-color: #000000ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header .title {
    text-decoration: none;
}

header .title h1 {
    font-size: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
}

header .title h1 img {
    width: 80px;
    height: 80px;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav .link {
    position: relative;
    font-size: 1.4em;
    color: #fff;
    display: flex;
    text-decoration: none;
    transition: .5s ease-in-out;
}

header nav .link::after,
header nav .active-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: -100%;
    bottom: 0;
}

header nav .link:hover::after,
header nav .active-link::after {
    left: 0;
    background: #fff;
    transition: .2s ease-in-out;
}

/* SECTIONS */

.home, .lineamentos, .horario, .juegos {
    width: 100%;
    min-height: 85vh;
    background-color: #000000ad;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HOME */

.home {
    font-size: 2.5rem;
    gap: 20px;
}

.home img {
    width: 400px;
    height: 296px;
    border-radius: 20px;
    border: 2px solid #fff;
}

/* LINEAMENTOS */

.lineamentos {
    padding: 0 200px;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.lineamentos h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.lineamentos ol {
    margin-bottom: 50px;
    text-align: justify;
}

.lineamentos ol li:not(:last-child) {
    margin-bottom: 15px;
}

.lineamentos h3 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.lineamentos .pseudo-footer {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 50px 0
}

/* HORARIO */

.horario {

}

/* JUEGOS */

.juegos {

}